html {
  background: #fff;
  font-size: 100%;
  min-height: 100%;
  width: 100%;
  margin-bottom: 1px;
  overflow: -moz-scrollbars-vertical !important;
  overflow-y: scroll;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, input, textarea, select {
  font: 18px/32px Georgia, Times, "Times New Roman", serif;
  background-color: transparent;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  float: left;
  padding: 30px;
}

p, section {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 32px;
}
strong { font-weight: bold;  }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: bold;
  float: left;
  clear: both;
  width: 100%;
  color: #333;
}

h1 { font-size: 28px; line-height: 34px; margin-bottom: 34px; font-family: Georgia, Times, "Times New Roman", serif; font-style: italic; font-weight: normal; }
h2 { font-size: 26px; line-height: 32px; margin-bottom: 32px; font-family: Georgia, Times, "Times New Roman", serif; font-style: italic; font-weight: normal; color: #333; }

.ic {
  padding: 5px 7px;
  font-size: 13px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 1px;
  border-radius: 4px;
  color: #555;
  border: 1px solid #ccc;
  background-color: #ececec;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);/*inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.05);*/
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  font-family: "Lucida Console", "Droid Sans Mono", "Courier New", "Lucida Sans Unicode", monospace, sans-serif;
}
.ic a { background: none; padding: 0; margin: 0; }


/* Tests */
#lists {
  float: left;
  clear: both;
}

.list {
  float: left;
  margin: 0 20px 20px 0;
}

.list table {
  float: left;
  clear: both;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  padding: 0;
  margin: 0 0 32px 0;
}

.list table td {
  padding: 3px 6px;
  border: 1px solid #ccc;
}

.list table tr:nth-child(even) {background: #f9f9f9; }
.list table .legenda { font-weight: bold; background: #fff; color: #333; }
.list table .rate { text-align: center; max-width: 100px; }

#results {
  padding: 4px 12px;
  border-radius: 8px;
  float: left;
  margin-bottom: 40px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0,0,0,.4);
}
.error { background: #ee1111 !important; color: #fff !important; }
.success { background: #44ab44 !important; color: #fff !important; }

.github {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
}

.github .ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #e8341a;
  margin: 0;
}
.github:hover .ribbon {
  background: #1492e2;
}

.github i {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url('github_mark.png') 50% 50% no-repeat;
  cursor: pointer;
}
.svg .github i {
  background: url('github_mark.svg') 50% 50% no-repeat;
}

@supports (transform:rotate(45deg)) {
  .github {
    width: 90px;
    height: 90px;
  }
  .github .ribbon {
    margin: 0;
    margin-right: -60px;
    width: 200px;
    height: 40px;
    transform:rotate(45deg);
  }
  .github i {
    margin: 10px 10px 0 0;
  }
}